<div class="w-container container-phone">
    <h2 class="titulo-boas-vindas"><b>Welcome message of the Vietnam Mathematical Society</b></h2>
    <p>
        In June 10-13, 2019, the Vietnam-USA Joint Mathematical Meeting will be organized under the patronage of the American Mathematical Society and the Vietnam Mathematical Society in the city of Quy Nhon, Vietnam.
        <br/>
        <br/>
        Quy Nhon is a coastal city in the center of Vietnam marked with history, home of cherished vestiges of the Cham civilization and in the vicinity of the birthplace of Quang Trung, a national hero who lived and died in the historical period when Vietnam as a country was attaining its current shape.
        <br/>
        May this joint meeting be a forum for a rich exchange of ideas, an occasion to strengthen existing cooperations between our mathematical communities and a catalyzer for new ideas, new cooperations.
        <br/>
        <br/>
        On behalf of the Vietnam Mathematical Society, I would like to extend the warmest welcome to our American colleagues and wish you a good stay in Vietnam.
    </p>
   
    <br />
    <p>
        <b>Nguyễn Hữu Dư</b>
    </p>
    <p><b>President of the Vietnam Mathematical Society</b></p>

    <br />
    <br />
    @*<div class="sm-col-12">
        <span style="vertical-align: bottom;">See you </span>
        <a style="margin-right: 20px; display: inline-block;" href="http://www.vms.org.vn" target="_blank" title="VIETNAM MATHAMATICAL SOCIETY"><img src="/images/Uploads/vms-logo.jpg" style="height: 50px;" title="VIETNAM MATHAMATICAL SOCIETY" alt="VIETNAM MATHAMATICAL SOCIETY"/></a>
        <a style="display: inline-block;" href="http://www.ams.org/home/page" target="_blank" title="American Mathematical Society"><img src="/images/Uploads/ams-logo.bmp" style="height: 50px;" title="American Mathematical Society" alt="American Mathematical Society"/></a>
    </div>*@

    <div class="col-sm-12 t-padding-left-0">
        <div class="col-sm-6 t-padding-left-0">
            <a href="http://www.vms.org.vn/" alt="VIETNAM MATHAMATICAL SOCIETY" title="VIETNAM MATHAMATICAL SOCIETY" target="_blank">
                <img src="/images/vms.png" alt="VIETNAM MATHAMATICAL SOCIETY" title="VIETNAM MATHAMATICAL SOCIETY"/>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="https://www.ams.org/" alt="American Mathematical Society" title="American Mathematical Society" target="_blank">
                <img src="/images/ams.png" alt="American Mathematical Society" title="American Mathematical Society"/>
            </a>
        </div>
    </div>
    <div class="t-read-more-block col-sm-12 t-padding-left-0 t-padding-right-0">
        <p>
            @*<i class="fa fa-angle-right"></i>*@<span>AMS website of the joint meeting: </span><a id="aMessageLink" href="https://www.ams.org/meetings/international/internmtgs" target="_blank" title="AMS website of the joint meeting">https://www.ams.org/meetings/international/internmtgs</a>
        </p>
    </div>
</div>

<script>
    $(function () {
        var mql = window.matchMedia("(max-width: 767px)");
        if (mql.matches) {
            $("#aMessageLink").html("https://www.ams.org");
        } 
    });
</script>