@{
    ViewBag.Title = "Abstract Submission";
}

<div class="section header-internas foto_contato">
    <div class="w-container container-phone">
        <!-- <h1>Contact</h1> -->
    </div>
</div>
<div class="section press">
    <div class="w-container container-phone">
        <h3>Abstract Submission</h3>
        <div class="w-form" id="div_form">
            <div class="t-contact-container">
                <div class="col-sm-12 t-margin-top-20">
                    <div class="col-sm-12">
                        <img src="/images/To-be-Updated-Soon.jpg" alt="To be updated" title="To be updated"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



