@model VietUSA.Repository.Models.ContactModel
@{
    ViewBag.Title = "Contact";
}

<div class="section header-internas foto_contato">
    <div class="w-container container-phone">
        <!-- <h1>Contact</h1> -->
    </div>
</div>
<div class="section press">
    <div class="w-container container-phone">
        <div class="w-form" id="div_form">
            <div class="t-contact-container">
                <h3>
                    Contact us
                </h3>
                @*<p><b>Ms. Nguyễn Hoàng Anh</b></p><br/>
                <p> Vietnam Institute for Advanced Study in Mathematics</p>
                <p>Address: The 7th floor, Ta Quang Buu Library In HUST's Campus, 1 Dai Co Viet Street, Ha Noi, Viet Nam.</p>
                <p>Tel: +84 24 3623 1542 - Fax: +84 24 3623 1543</p>
                <p>Email: vnus2019 AT viasm.edu.vn</p>*@

            </div>

        </div>
        <div class="w-form-done" id="div_ok">Thank you, we received your message.</div>
        <div class="w-form-fail" id="div_erro"></div>
    </div>
</div>






