
@{
    ViewBag.Title = "Important Dates";
}

<div class="section header-internas foto_contato">
    <div class="w-container container-phone">
        <!-- <h1>Contact</h1> -->
    </div>
</div>
<div class="section press">
    <div class="w-container container-phone">
        <div class="w-form" id="div_form">
            <div class="t-contact-container">
                <div class="fundo-verde-sobre">
                    <h2 class="titulo-chamada branco">Important Dates</h2>
                    <div class="section-subtitle branco"></div>
                    <div class="w-row">
                        <div class="w-col w-col-6">
                            <h4 class="titulo-bloco branco">Deadline</h4>
                            <div class="texto-bloco branco">
                                1. Deadline for registration: <b>May 10th</b><br />
                                2. Deadline for the registration fee payment: <b>May 10th</b><br />
                                3. Deadline for abstract submission: <b>May 10th</b><br />
                                <br><!-- <a href="#" class="link-branco">Learn more &gt;</a> -->
                            </div>
                        </div>
                        <!-- <div class="w-col w-col-4">
                            <h4 class="titulo-bloco branco">Previous Congresses</h4>
                            <div class="texto-bloco branco">
                                Learn when and where the previous ICM events occurred.
                                <br><a href="about-icm-previous.html" class="link-branco">Learn more &gt;</a>
                            </div>
                        </div> -->
                        <div class="w-col w-col-6">
                            <h4 class="titulo-bloco branco">Notification</h4>
                            <div class="texto-bloco branco">
                                4. Notification for accepted papers: <b>updating...</b><br />
                                5. Notification for grant: <b>updating...</b><br />
                                6. Deadline for sending invitation: <b>updating...</b><br />
                                <br><!-- <a href="#" class="link-branco">Learn more &gt;</a> -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>






