
@{
    ViewBag.Title = "Special Session";
}

<div class="section header-internas foto_contato">
    <div class="w-container container-phone">
        <!-- <h1>Contact</h1> -->
    </div>
</div>
<div class="section press">
    <div class="w-container container-phone">
        <h3>Program</h3>
        <p style="text-align: center;"><strong>Call for Special Session Proposals	for </strong></p>
        <p style="text-align: center;">
            <strong>
                the
                2019 Vietnam&ndash;USA	Joint	Mathematical	Meeting
            </strong>
        </p>
        <p style="text-align: center;">
            <strong>Under	the	Patronage	of	the	VMS and	the	AMS</strong>
        </p>
        <p>
            The Program Committee for the 2019 Vietnam&ndash;USA	Joint	Mathematical	Meeting, under	the
            patronage	of	the American	Mathematical Society and	the	Vietnamese Mathematical Society,
            invites proposals for special sessions to be held at	this	meeting.
        </p>
        <p>
            A proposal should	include:
        </p>
        <ul>
            <li>
                the title of	the session
            </li>
            <li>
                the names, affiliations, and	email addresses of	the organizers, with	one organizer
                designated	as the &ldquo;contact person&rdquo;
            </li>
            <li>
                the	primary	MSC#	of	the	topic	of	the	session
            </li>
            <li>
                a brief	description	of the topic	of the session
            </li>
            <li>
                a tentative list of	people to be invited	to speak	in the session,	including	the	country
                where	each	is working.
            </li>
        </ul>
        <p>
            Since one of the aims of	this joint meeting is to increase cooperation	between mathematicians
            in	the USA and Vietnam, each special session should have at	least	one organizer from each	of
            the USA and Vietnam.
        </p>
        <p>
            The final deadline for special session	proposals is <strong>November 30, 2018</strong>. The	committee	expects
            to	announce	decisions	on	approved	special	sessions	within	one	month	after	the	submission
            deadline.
        </p>
        <p>
            Proposals should	be sent	by	email to <strong>Professor	Brian	D.	Boe</strong>, AMS Associate Secretary,
        </p>
        <p>brian@math.uga.edu</p>
    </div>
</div>



